@model IEnumerable<redFlag.Dtos.ReportDto>
@{ Layout = "~/Views/Shared/_InitiatorLanding.cshtml";
    ViewData["Title"] = "My Reports"; }


<section>

    <table style="font-size:small">
        <thead>
            <tr>
                <th>TYPE</th>
                <th>DESCRIPTON</th>
                <th>STATUS</th>
                <th>DETAILS</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody class="tbl">
            @foreach (var report in Model)
            {
            <tr class="rows">
                <td>
                    @report.DisasterType
                </td>
                <td>
                    @report.Description
                </td>
                <td>
                    @report.ReportStatus
                </td>
                <td>
                    <a asp-controller="Report" asp-route-id="@report.Id" asp-action="Details">Details</a>
                </td>
                <td>
                    <a asp-controller="Report" asp-route-id="@report.Id" asp-action="CancelReport">Cancel</a>
                </td>
            </tr>
            }

        </tbody>


    </table>

</section>


